<div class="main-wrap">
  <nav class="main-nav">
    <header class="logo">SL</header>
    <span>Adersh</span>
  </nav>
  <section class="message">
    <span>!</span>
    <p>Website is under development.</p>
  </section>
  <section class="about-me">
    <div class="profile-pic">
      <img src="../assets/images/Image.jpg" alt="Image of Adersh">
    </div>
    <div class="name">Adersh S L</div>
    <div class="field">Front-end Developer</div>
    <div class="contact">
      <div class="icon">
        <a href="mailto:iamadershsl@gmail.com" target="_blank">
          <img src="../assets/images/Mail.png" alt="Mail">
        </a>
      </div>
      <div class="icon">
        <a href="https://www.linkedin.com/in/sladersh" target="_blank">
          <img src="../assets/images/Linkedin.png" alt="Linkedin">
        </a>
      </div>
      <div class="icon">
        <a href="https://github.com/sladersh" target="_blank">
          <img src="../assets/images/Github.png" alt="Github">
        </a>
      </div>
    </div>
  </section>
  <section class="interests">
    <div class="icon">
      <img src="../assets/images/Angular.png" alt="Angular">
    </div>
    <div class="icon">
      <img class="js" src="../assets/images/JavaScript.png" alt="JavaScript">
    </div>
    <div class="icon">
      <img class="py" src="../assets/images/Python.png" alt="Python">
    </div>
    <div class="icon">
      <img src="../assets/images/Sass.png" alt="Sass">
    </div>
  </section>
  <footer class="main-footer">
    <p>&copy; 2021 | Adersh S L</p>
    <p>Developed using Angular</p>
  </footer>
</div>
